.gardenia__testimonials-container__testimonial {
  display: flex;
  width: 100%;
  height: fit-content;
  block-size: fit-content;
  flex-direction: column;
  background: var(--color-bg-testimonial);
  border-radius: 40px;
  padding: 3rem;
}

.gardenia__testimonials-container__testimonial-customer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-top: 1rem;
}

.gardenia__testimonials-container__testimonial-customer img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.gardenia__testimonials-container__testimonial-content p,
.gardenia__testimonials-container__testimonial-customer p {
  font-family: var(--font-text);
  color: var(--color-text);
  font-size: 18px;
  line-height: 28px;
  font-weight: 200;
}

.gardenia__testimonials-container__testimonial-customer p {
  font-weight: 400;
  margin-left: 1rem;
}

@media screen and (max-width: 48em) {
  .gardenia__testimonials-container__testimonial-content p,
  .gardenia__testimonials-container__testimonial-customer p {
    font-size: 14px;
  }
}
